<% include header.ejs %>
<nav class="sub">
	<li><a href="">New posts</a></li>
	<li><a href="">Follow activity</a></li>
	<li><a href="">Who to follow</a></li>
	<li><a href="/findfriends/">Find friends</a></li>
</nav>
<div id="reccomendations">
	<h2>Who to follow</h2>
    <p>Small side section showing 4 recommendations for people you may know</p>
</div>

<div id="tweets">
    <h2>Tweets</h2>
    <p>List of popular tweets</p>
</div>

<div id="activity">
    <h2>Activity</h2>
    <p>What people you're following have recently followed</p>
</div>


</body>
</html>