<% include header.ejs %>

<nav class="sub">
	<div><a href="">Tweets</a></div>
	<div><a href="">Activity</a></div>
    <div><a href="">Who to follow</a></div>
    <div><a href="/findfriends/">Find friends</a></div>
</nav>

<div id="reccomendations">
	<h2>Who to follow</h2>
    <p>Small side section showing 3 recommendations for people you may know</p>
</div>

<div id="trends">
    <h2>Trends</h2>
    <p>Small side section showing list of popular tags</p>
</div>

<div id="tweets">
    <h1>Tweets</h1>
    <p>List of popular tweets</p>
</div>

<div id="activity">
    <h1>Activity</h1>
    <p>What people you're following have recently followed</p>
</div>

<div id="suggestions">
    <h1>Who to follow</h1>
    <p>Suggestions for new people to follow based on who you already follow</p>
</div>

</body>
</html>
