<nav class="sub">
	<li><a href="">Tweets</a></li>
	<li><a href="">Activity</a></li>
	<li><a href="/whotofollow/">Who to follow</a></li>
	<li><a href="/findfriends/"><b>Find friends</b></a></li>
</nav>

<h1>Find Friends</h1>
You can search username individually!<br>
<form name="getUser" action="/findfriends/getUser" method="post">
		<input type="text" name="username" /> 
		<input type="submit" value="Search" />
</form> 
<div id="flash_message"><%= message %></div>

</body>
</html>