<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="/public/stylesheet" type="text/css" href="style.css">
</head>
<body>

	<div id="b-box">
		<h1>Find friends</h1>
	</div>

	<div id="c-box"><h1>Find friends</h1>
		<form name="search" action="<%= search %>" method="get">
			<input type="text" name="searchusers">
			<input type="submit" value="Search"></form>
		</div>

	</div> 
</body>
</html>