<% include header.ejs %>

<h1>Find Friends</h1>

<div>
	<p>Search your contacts for friends already on Jargn, or invite them via
	email.</p>
	<form name="searchusers" action="/search/" method="get">
		<input type="text" name="name">
		<input type="submit" value="Search Jargn">
	</form>
</div>

<div>
	<p><h3>Gmail</h3></p>
	<p><h3>Yahoo</h3></p>
	<p><h3>Facebook</h3></p>
	<p><h3>Twitter</h3></p>
</div>
 
</body>
</html>