<% include header.ejs %>
<nav class="sub">
	<li><a href="">Tweets</a></li>
	<li><a href="">Activity</a></li>
	<li><a href="">Who to follow</a></li>
	<li><a href=""><b>Find friends</b></a></li>
</nav>

<h1>Find Friends</h1>

</body>
</html>