<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="public/stylesheets" type="text/css" href="style.css">
</head>
<body>

	<nav class="main">
		<div><a href="/">Home</a></div>
		<div><a href="/connect/">Connect</a></div>
		<div><a href="/discover/">Discover</a></div>
		<div><a href="/myprofile/">My Profile</a></div>
		<div><form name="search" action="/search/" method="get">
			<input type="text" name="searchstring">
			<input type="submit" value="Search"></form></div>
		<div><a href="/settings/">Settings</a></div>
		<div><a href="/help/">Help</a></div>
		<div><a href="/tweet/">Tweet</a></div>
	</nav>