
<!DOCTYPE html>
	<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/javascripts/follow-client.js"></script>
		<script type="text/javascript" src="/javascripts/post.js"></script>
		<script type="text/javascript" src ="/socket.io/socket.io.js"></script>
	</head>
	<body>
		<h1 class='logo'>kar</h1>
		<% if(user != undefined) { %>
		<div id="currentuser">
		Logged in as: <a href="/user/<%= user.username %>">
		<%= user.username %></a>
	</div>
	<% } %>
	<nav class="main">
		<div><a href="/">Home</a></div>
		<div><a href="/connect/">Connect</a></div>
		<div><a href="/discover/">Discover</a></div>
		<div><form name="search" action="/search/" method="get">
			<input type="text" name="searchstring">
			<input type="submit" value="Search"></form></div>
		<div><a href="/settings/">Settings</a></div>
		<div><a href="/help/">Help</a></div>
		<div><a href="/post/">Post</a></div>
		<div>
			<% if (user === undefined) {%>
				<a href="/login/">Login</a>
			<% } else {%>
				<a href="/logout/">Logout</a>
			<% } %>
		</div>
	</nav>
