<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

	<nav class="main">
		<div><a href="/">Home</a></div>
		<div><a href="/connect/">Connect</a></div>
		<div><a href="/discover/">Discover</a></div>
		<div><a href="/myprofile/">My Profile</a></div>
		<div><form name="search" action="/search/" method="get">
			<input type="text" name="searchstring">
			<input type="submit" value="Search"></form></div>
		<div><a href="/settings/">Settings</a></div>
		<div><a href="/help/">Help</a></div>
		<div><a href="/tweet/">Tweet</a></div>
		<div>
			<% if (user === undefined) {%>
				<a href="/login/">Login</a>
			<% } else {%>
				<a href="/logout/">Logout</a>
			<% } %>
		</div>
	</nav>