
<!DOCTYPE html>
	<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<title><%= title %></title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
		<script type="text/javascript" src="/javascripts/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="/javascripts/follow-client.js"></script>
		<script type="text/javascript" src="/javascripts/post.js"></script>
		<script type="text/javascript" src ="/socket.io/socket.io.js"></script>
	</head>
	<body>
		<% if(user !== undefined) { %>
		<div id="currentUser">
			Logged in as: <a href="/user/<%= user.username %>">
			<%= user.username %></a>
			<span><%= user.username %></span>
		<% } %>
		<div class='navbar'>
			<h1 id='name'> jargn</h1>
			<ul class='nav'>
				<li class ='nav'><a href="/">home</a></li><br>
				<li class='nav'><a href="/post/">post</a><li><br>
			</ul>
		</div>	
		<br>
		<br><br><br>


		<div id='search'><form name="search" action="/search/" method="get">
			<input type="text" name="searchstring">
			<input type="submit" value="Search"></form></div>
		<div class='delete'><a href="/settings/">Settings</a></div>
		<div class='delete'><a href="/help/">Help</a></div>
		<div class='view'>
			<% if (user === undefined) {%>
				<a id='login' href="/login/">Login</a>
			<% } else {%>
				<a id='logout' href="/logout/">Logout</a>
			<% } %>
		</div>
