<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<h1>App Help</h1>
		<ol>
			<li>
				Help Topic 1 <br>
				Don't take our advice.
			</li>
			<li>
				Help Topic 2 <br>
				Call 911 in case of emergency.
			</li>
		<ol>
	<body>
</html>