<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<div id="header"><%- partial('header') %></div>
		<div id="body"><%- body %></div>
		<div id="footer"><%- partial('footer') %></div>
	</body>
</html>
