<% include header.ejs %>

<nav class="sub">
	<div><a href="">Tweets</a></div>
	<div></div>
</nav>
	<ol>
		<% for(var i = 0; i < 10; i++){ %>
			<li class = 'post'>a tweet here</li>
		<% } %>
	</ol>
</body>
</html>
