<% include header.ejs %>

<h1> Compose a Post!</h1>
	<div>
		<textarea id='post-text-area' name="post_text" maxlength=140 autofocus></textarea>
		<br>
		<input type="checkbox" name="private" value="true">
			Make this post private
		<br>
		<input id='post-post-button' type="submit" value="Post">
		<ul id ='message-list'></div>
	</div>
</body>

</html>
