<% include header.ejs %>

<div class='view'>
	<h1>post something!</h1>
	<div id="post-module">
		<textarea id='post-text-area' name="post_text" maxlength=140 autofocus></textarea>
		<br>
		<input type="checkbox" name="private" value="true">
			Make this post private
		<br>
		<input id='post-post-button' type="submit" value="Post">
		<ul id ='post-list'>
	</div>
</div>
</body>

</html>
