<% include header.ejs %>

<h1> Compose a Post!</h1>
	<div>
		<textarea rows="4" cols="60"></textarea>
		<br>
		<input type="submit" value="Post">
	</div>
</body>
	<script src = "/socket.io/socket.io.js"></script>
</html>
