<!DOCTYPE html>
<html>
	<head>
		<title><%= title%></title>
	</head>
	<body>
		<h1>Search Results</h1>
		<!   How are we structuring the search results?
				 Are we going to have a data structure holding the results?>
	</body>
</html>