<!doctype html>
<head>
  <title>welcome </title>
</head>
<body>
	<h1>Twitter</h1>
	<%= message %>
	<div>
		<span>UserID</span>
		<span><%= userid %></span>
	</div>
	<div>
		<span>password</span>
		<span><%= password %></span>
	</div>
</body>
