<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script type="text/javascript" 
  src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
</head>
<body onLoad="init('menu1', 'menu2', 'menu3', 'menu4', 'menu5')">

    <nav class="main">
        <div><a href="/">Home</a></div>
        <div><a href="/connect/">Connect</a></div>
        <div><a href="/discover/">Discover</a></div>
        <nav class="sub">
            <div>┣ <a href="">Tweets</a></div>
            <div>┣ <a href="">Activity</a></div>
            <div>┣ <a href="/whotofollow/"><b>Who to follow</b></a></div>
            <div>┣ <a href="/findfriends/">Find friends</a></div>
        </nav>
        <div><form name="search" action="/search/" method="get">
            <input type="text" name="searchstring">
            <input type="submit" value="Search"></form></div>
        <div><a href="/settings/">Settings</a></div>
        <div><a href="/help/">Help</a></div>
        <div><a href="/tweet/">Tweet</a></div>
        <div>
            <% if (user === undefined) {%>
                <a href="/login/">Login</a>
            <% } else {%>
                <a href="/logout/">Logout</a>
            <% } %>
        </div>
    </nav>

    <script language="JavaScript">
// Show menu only, otherwise hide
function init(menu1, menu2, menu3, menu4, menu5) {
    document.all[menu1].style.display = "none";
    document.all[menu2].style.display = "none";
    document.all[menu3].style.display = "none";
    document.all[menu4].style.display = "none";
    document.all[menu5].style.display = "none";
}

// Display function for show/hide menu
function displayMenu(menu) {
    dispMenu = document.all[menu].style;
    if(dispMenu.display == 'none') {
        dispMenu.display = 'block';
    }
    else{
        dispMenu.display = 'none';
    }
}
</script>

<h1> Jargn: who to follow</h1>
Small side section showing 4 recommendations for people you may know.<br>

Let's take a look at them!&nbsp;&nbsp;&nbsp;<a href="javaScript:displayMenu('menu1')">here</a><br>

<div id="menu1" class="space1">
    &nbsp;&nbsp;&nbsp;<a href="javaScript:displayMenu('menu2')">Adam Daehling</a>
</br>
<div id="menu2" class="space2">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;☞<a href="#" id="adam">Go to his page</a>

</div>
&nbsp;&nbsp; <a href="javaScript:displayMenu('menu3')">Mayu Kudo</a></br>
<div id="menu3" class="space2">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;☞<a href="#" id="mayu">Go to her page</a>
</div>
&nbsp;&nbsp; <a href="javaScript:displayMenu('menu4')">Marcy Rattner</a></br>
<div id="menu4" class="space2">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;☞<a href="#" id="marcy">Go to her page</a>
</div>
&nbsp;&nbsp; <a href="javaScript:displayMenu('menu5')">Kira Revere</a></br>
<div id="menu5" class="space2">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;☞<a href="#" id="kira">Go to her page</a>
</div>
</div>
<br>
<div id="output"></div>
<br>
<script>
$(document).ready(function(){
    var a = 'Adam Daehling';
    var mayu = 'Mayu Kudo';
    var marcy = 'Marcy Rattner';
    var k = 'Kira Revere';
    var c = 0;

    $("#adam").bind("adam", function(e){
        $('<iframe />').attr('src', '../fakeData/adam.htm').appendTo('body');
    });
    $("#adam").one(
        'click', function(){
            $("a").trigger("adam");
            c++;
            $("#output").text('You are now looking at ' + a + ' info. There are ' + c + ' people you are interested in.');
        });

    $("#mayu").bind("mayu", function(e){
        $('<iframe />').attr('src', '../fakeData/mayu.htm').appendTo('body');
    });
    $("#mayu").one(
        'click', function(){
            $("a").trigger("mayu");
            c++;
            $("#output").text('You are now looking at ' + mayu + ' info. There are ' + c + ' people you are interested in.');
        });

    $("#marcy").bind("marcy", function(e){
        $('<iframe />').attr('src', '../fakeData/marcy.htm').appendTo('body');
    });
    $("#marcy").one(
        'click', function(){
            $("a").trigger("marcy");
            c++;
            $("#output").text('You are now looking at ' + marcy + ' info. There are ' + c + ' people you are interested in.');
        });

    $("#kira").bind("kira", function(e){
        $('<iframe />').attr('src', '../fakeData/kira.htm').appendTo('body');
    });
    $("#kira").one(
        'click', function(){
            $("a").trigger("kira");
            c++;
            $("#output").text('You are now looking at ' + k + ' info. There are ' + c + ' people you are interested in.');
        });


});
</script>
</body>
</html>
