<% include header.ejs %>

<h1> Jargn: Who to Follow</h1>
<p>Small side section showing 4 recommendations for people you may know.<br>

Let's take a look at them!</p>
<div id="output"></div>

</body>
</html>
