body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#site-box {width: 752px;
		   border: 1px solid #2d2d2d;    
		   }

#a-box {width: 500px;
		border-bottom: 1px solid #2d2d2d;
		}

#b-box {float: left;
		width: 250px;    
		}

#c-box {float: right;
		width: 500px    
		}

#d-box {clear : both ; width : 750px ;     
		}