body {
	font-family: Helvetica;
}

a {
	text-decoration: none;
}

#name{
	font-size: 40pt;
	margin-left: 20px;
}

.navbar li a:hover {
	color: #ffffff;
}

/*a:visited {
	color: black;
}*/

.navbar {
	font-family: Helvetica;
	z-index: 1;
	position: fixed;
	width: 18%;
	background-color:#6b9487;
	top: 0px;
	float: left;
	left: 0px;
	height: 100%;
/*width: 752px;
border: 1px solid #2d2d2d;*/
}

.nav{
	font-family: Helvetica;
	text-decoration: none;
	font-size: 18;
	float: left;
	text-align: left;
	list-style-type: none;
	margin-left: 0;
}

#post {
	width: 300px;
	border: 1px solid;
}

#search{
	float: right;
}

.delete{
	z-index: -1;
}

.logonoff{
	margin-left: 100px;
}
