body {
padding: 50px;
font: 14px "Lucida Grande", "Helvetica", "Arial", sans-serif;
}

a {
color: #00B7FF;
}

.logo{
border-radius: 60px;
-moz-border-radius: 60px;
box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.2);
-moz-box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.2);
background-color: #6b9487;
float: left;
margin-left: 20px;
margin-top: 20px;
}

nav.#main {
width: 752px;
border: 1px solid #2d2d2d;
}

nav.#sub {
width: 500px;
border-bottom: 1px solid #2d2d2d;
}

#post {
width: 300px;
border: 1px solid;
}

footer {
clear : both ; width : 750px ;     
}
